.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  background-color: black;
}

.btn button {
  background-color: red; /* Primary Blue */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn button:hover {
  background-color: #0056b3; /* Darker Blue on Hover */
  transform: scale(1.05);
}

.btn button:active {
  transform: scale(0.95);
}
